{% set bankAccountOwner = config("PrePayment.bankAccountOwner") %}
{% set bankName = config("PrePayment.bankName") %}
{% set bankIban = config("PrePayment.bankIban") %}
{% set bankSwift = config("PrePayment.bankSwift") %}

<hr>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("PrePayment::PaymentMethod.bankDetails") }}</strong>
    <span class="col-xs-6 col-sm-7">
        <table border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="left">{{ trans("PrePayment::PaymentMethod.bankAccountOwner") }}</td>
                    <td align="right">{{ bankAccountOwner }}</td>
                </tr>
                <tr>
                    <td align="left">{{ trans("PrePayment::PaymentMethod.bankName") }}</td>
                    <td align="right">{{ bankName }}</td>
                </tr>
                <tr>
                    <td align="left">{{ trans("PrePayment::PaymentMethod.bankIban") }}</td>
                    <td align="right">{{ bankIban }}</td>
                </tr>
                <tr>
                    <td align="left">{{ trans("PrePayment::PaymentMethod.bankSwift") }}</td>
                    <td align="right">{{ bankSwift }}</td>
                </tr>
            </tbody>
        </table>
    </span>
</div>
